@model ClickAndCollect.ViewModels.OrderDicoViewModels

<div class="alert-danger">
    @TempData["BasketEmpty"]
</div>
<div class="text-center">
    <table class="table">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix</th>
        </tr>
        @{
            foreach (var d in Model.Order.DictionaryProducts)
            {
                <tr>
                    <td>@d.Key.Name</td>
                    <td>@d.Value</td>
                    <td>@d.Key.Price</td>
                    <td><a asp-controller="Product" asp-action="Delete" asp-route-Key="@d.Key.NumProduct">Supprimer</a></td>
                </tr>
            }
        }

    </table>

    Total : @TempData["OrderAmount"] €

</div>
    

<div class="text-lg-right">
    <a asp-controller="Shop" asp-action="SelectShop">Valider</a>
</div>