@model ClickAndCollect.ViewModels.OrderDicoViewModels

<div class="text-center">
    @if (Model != null)
    {
        <table class="table">
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>

            @foreach (var d in Model.Order.DictionaryProducts)
            {
            <tr>
                <td>@d.Key.Name</td>
                <td>@d.Key.Price €</td>
                <td>x @d.Value</td>
                <td><a asp-controller="Product" asp-action="Delete" asp-route-Key="@d.Key.NumProduct">Supprimer</a></td>
            </tr>
            }


        </table>

        <p>Total : @ViewData["OrderAmount"] € </p><small>(@Order.ServiceFees € de frais de service)</small>
        
        <div class="text-lg-right">
            <a asp-controller="Shop" asp-action="SelectShop">Valider</a>
        </div>

    }
    else
    {
        <div class="alert-danger">
            @ViewData["BasketEmpty"]
        </div>
    }
 
</div>
    

