@model List<Product>

<div class="alert-success divMsg">
    @TempData["AccountCreate"] 
    @TempData["SuccessOrder"]
</div>
<div class="alert-danger divMsg">
    
    @TempData["ErrorOrder"]
    @TempData["Error"]
</div>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Catégories</th>
        </tr>
        
        @foreach (var product in Html.GetEnumSelectList<Category>())
        {

            <tr>
                <td>@product.Text</td>
                <td><a asp-controller="Product" asp-action="Details" asp-route-category="@product.Value">details</a></td>
            </tr>
        }
    </table>

</div>
