@model ClickAndCollect.ViewModels.OrderDicoViewModels

<div class="text-center">
    <table class="table">
        <tr>
            <th>Lieu</th>
            <th>Jour</th>
            <th>Heure de debut</th>
            <th>Heure de fin</th>
        </tr>

        <tr>

            <td>@Model.Order.Shop.PostCode</td>
            <td>@Model.Order.TimeSlot.Day.ToString("dd/MM/yyyy")</td>
            <td>@Model.Order.TimeSlot.Start</td>
            <td>@Model.Order.TimeSlot.End</td>

        </tr>

    </table>

    Total : @String.Format("{0:0.00}", ViewData["OrderAmount"]) €

</div>

<div class="text-lg-right">
    <a asp-controller="Order" asp-action="Validate">Valider</a>
</div>

