@model Order

    @if (Model != null)
    {
        <h3>Détails de la commande n°: @Model.OrderId</h3>
        <table class="table">
            <tr>
                <th>Numero du produit</th>
                <th>Nom du Produit </th>
                <th>Quantité</th>
            </tr>
            @foreach (var produit in Model.DictionaryProducts)
            {
                <tr>
                    <td>@produit.Key.NumProduct</td>
                    <td>@produit.Key.Name</td>
                    <td>@produit.Value</td>
                </tr>
            }
       
        </table>
        <form asp-controller="" asp-action="" method="post">
            <label asp-for="NumberOfBoxUsed"></label>
            <input asp-for="NumberOfBoxUsed" />
            <span asp-validation-for="NumberOfBoxUsed"></span>
            <input type="submit" />
        </form>
    }
    else
    {
        <h1>Erreur</h1>
        <p>@ViewData["Error"]</p>
    }
<a asp-action="Orders">Retour</a>